<!-- <ion-toolbar>
  <ion-title>Modal Content</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismiss()">Close</ion-button>
  </ion-buttons>
</ion-toolbar> -->

<ion-toolbar class="shadow-sm">
  <ion-title class="text-muted">Nuevo Usuario</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="dismiss()">
      <ion-icon
        slot="icon-only"
        ios="close-outline"
        md="close-outline"
        class="text-muted"
      ></ion-icon>
      <!-- <ion-icon name=""></ion-icon> -->
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true" class="h-100">
  <div class="h-100 bg">
    <div class="pt-4">
      <div class="row my-4 d-flex d-flex justify-content-center">
        <div class="col-9">
          <ion-label position="stacked text-muted">Número telefónico</ion-label>
          <ion-item class="seccion shadow-sm mt-1">
            <ion-icon name="call-outline"></ion-icon>
            <ion-input
              placeholder="933848953"
              type="phone"
              class="ml-2"
            ></ion-input>
          </ion-item>
        </div>
        <div class="col-9 mt-3">
          <ion-label position="stacked text-muted">Dirección</ion-label>
          <ion-item class="seccion shadow-sm mt-1">
            <ion-icon name="location-outline"></ion-icon>
            <ion-input
              placeholder="Pasaje interior"
              type="text"
              class="ml-2"
            ></ion-input>
          </ion-item>
        </div>
        <div class="col-9 mt-3">
          <ion-label position="stacked text-muted">Número de casa</ion-label>
          <ion-item class="seccion shadow-sm mt-1">
            <ion-icon name="pin-outline"></ion-icon>
            <ion-input
              placeholder="1082"
              type="number"
              class="ml-2"
            ></ion-input>
          </ion-item>
        </div>
        <div class="col-9 mt-4">
          <button type="button" class="btn btn-primary px-3">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
