/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.bg {
    background-color:#F7F8FA !important;
}
h2, h1, h3,h4, h5, h6 {
    color: #3E4775 !important;
}
p{
    color: #8B95AE;

}
body{
    font-family: Helvetica !important;
}
.btn {
    border-radius: 200px !important;


}
.button{
    --border-radius: 200px !important;

}
.primary {
    --color: white;
    --background: #7FA4FF;
    --border-color:  #7FA4FF !important;
}
.success{
    --background: #9968A9 !important;
    --border-color:  #9968A9!important;
    
}

.btn-primary{
    background-color: #7FA4FF !important;
    border-color:  #7FA4FF !important;
    
}
.btn-success{
    background-color: #8B4870 !important;
    border-color:  #8B4870!important;
    
}
.btn-warning{
    background-color: #F9F871 !important;
    border-color:  #F9F871 !important;
    
}

.seccion{
    border-radius: 100px !important;
}
.input{
    background-color: white;
    color: #8B95AE;
    border-radius: 100px !important;
}
.ion-color-success{
    --ion-color-base: #7FA4FF !important
}
.ion-color-danger{
    --ion-color-base: #8B4870 !important
}
.searchbar-input{
    -webkit-box-shadow: none !important;
}